nav {
    height: 50px;
    background-color: lightgrey;
  }
  .inline-block {
    padding: 15px;
    display: inline-block;
  }
  .left {
    float: left;
    background-color: lightblue;
    height: 700px;
    width: 29%;
    text-align: center;
    }
    
    .topLeft {
     background-color: red;
     height: 350px;
    }

   .image1 {
        max-width: 50%;
        max-height: 75%;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid yellow;
    }

    .text1 {
      border: 1px solid blue;
      font-size: large;
    }

    .bottomLeft {
        background-color: cornsilk;
        height:350px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: left;
    }

  .right {
    float: left;
    background-color: lightgreen;
    height: 700px;
    width: 70%;
    text-align: center;
  }
  
  .card {
    display: inline-block;
    background-color: #C6C6C6;
    border-radius: 5px;
    height: 200px;
    width: 150px;
    margin: 10px;
    margin-top: 50px;
  }

